@{
    var pageTitle = $"{ViewData["Title"]} - Zenbot";
}

<!DOCTYPE html>

<html>

<head>
    <title>@pageTitle</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zenbot">
    <meta name="keywords" content="Zenbot, Zencode, Bot, Discord">
    <link rel="icon" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/bundle/css/font.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundle/css/base.min.css" asp-append-version="true" />
   
    @RenderSection("Styles", required: false)
</head>

<body>
    <h1 class="d-none">@pageTitle</h1>

    <main class="main-wrapper">
        @RenderBody()
    </main>

    <script src="~/bundle/js/base.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
