@{
    Layout = "_BaseLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/bundle/css/base-error.min.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
}

    @section Scripts{
    <script src="~/bundle/js/base-error.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
}

    <section class="container-fluid p-4 bg-dark d-flex flex-column flex-grow-1 justify-content-center">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 py-3 bg-light rounded border shadow-lg text-center">
                @RenderBody()
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <a class="text-light hover-fade" asp-controller="@nameof(HomeController).GetControllerRoute()" asp-action="@nameof(HomeController.Index)">
                    <i class="fa fa-chevron-circle-left me-1"></i>
                    <span>Go Back To Home</span>
                </a>
            </div>
        </div>
    </section>
