@{
    ViewData["Title"] = "Home";
    Layout = "_HomeLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/bundle/css/home-index.min.css" asp-append-version="true" />
}

<section class="row about">
    <div class="col-sm-12 col-lg-6 col-xl-5">
        <div class="image">
            <img src="~/img/illustrations/bot-illustration.svg" alt="Image" />
        </div>
    </div>

    <div class="col-sm-12 col-lg-6 col-xl-7">
        <div class="info">
            <h2 class="title">About Zenbot</h2>

            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                At tempor commodo ullamcorper a lacus vestibulum.
                Ullamcorper a lacus vestibulum sed arcu non odio euismod.
                Ut ornare lectus sit amet est placerat in egestas erat.
            </p>

            <div class="links">
                <a class="btn btn-lg btn-primary btn-hover" asp-controller="@nameof(HomeController).GetControllerRoute()" asp-action="@nameof(HomeController.Index)">
                    <span class="material-icons me-1 align-middle">add</span>
                    <span class="align-middle">Add to server</span>
                </a>

                <a class="btn btn-lg btn-dark btn-hover" asp-controller="@nameof(HomeController).GetControllerRoute()" asp-action="@nameof(HomeController.Index)">
                    <span class="material-icons me-1 align-middle">list</span>
                    <span class="align-middle">See features</span>
                </a>

                @*@if (!User.Identity.IsAuthenticated)
            {
            <a class="btn btn-lg btn-success btn-hover" asp-controller="@nameof(AccountController).GetControllerRoute()" asp-action="@nameof(AccountController.Login)">
            <i class="fa fa-sign-in me-1"></i>
            <span>Login</span>
            </a>
            <a class="btn btn-lg btn-secondary btn-hover" asp-controller="@nameof(AccountController).GetControllerRoute()" asp-action="@nameof(AccountController.Register)">
            <i class="fa fa-user-plus me-1"></i>
            <span>Register</span>
            </a>
            }
            else
            {
            <a class="btn btn-lg btn-primary btn-hover" asp-controller="@nameof(PanelController).GetControllerRoute()" asp-action="@nameof(PanelController.Index)">
            <i class="fa fa-tachometer-alt-fast me-1"></i>
            <span>Panel</span>
            </a>
            }*@
            </div>
        </div>
    </div>
</section>

<div class="home-index-sections-divider"></div>

<section class="row information">
    <div class="col-12">
        <h2 class="title">Features</h2>

        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Aliquam faucibus purus in massa tempor nec feugiat nisl pretium.
            Aliquet nibh praesent tristique magna sit amet purus gravida.
            Nunc sed velit dignissim sodales ut eu.
            A diam maecenas sed enim ut sem viverra aliquet.
            Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas.
            Sed felis eget velit aliquet sagittis id consectetur purus.
            Quam elementum pulvinar etiam non quam.
            Id faucibus nisl tincidunt eget nullam non.
            Libero justo laoreet sit amet cursus sit.
            In tellus integer feugiat scelerisque varius morbi.
            Tempor orci eu lobortis elementum nibh tellus molestie.
            Sed risus pretium quam vulputate dignissim suspendisse in.
            Augue eget arcu dictum varius duis at.
            In arcu cursus euismod quis viverra.
            Enim lobortis scelerisque fermentum dui faucibus.
            Fermentum dui faucibus in ornare.
            Ut aliquam purus sit amet luctus venenatis lectus.
        </p>
    </div>
</section>

<div class="home-index-sections-divider"></div>

<section class="row integration">
    <div class="col-12">
        <h2 class="title">Integrations</h2>

        <div class="row items">
            <div class="col-6 col-md-3">
                <div class="item">
                    <img class="integration-logo" src="~/img/integrations/jira-logo.svg" alt="Jira Logo" />
                    <span class="integration-name">Jira</span>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="item">
                    <img class="integration-logo" src="~/img/integrations/pointer-logo.svg" alt="Pointer Logo" />
                    <span class="integration-name">Pointer</span>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="item mt-4 mt-md-0">
                    <img class="integration-logo" src="~/img/integrations/bitbucket-logo.svg" alt="Bitbucket Logo" />
                    <span class="integration-name">Bitbucket</span>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="item mt-4 mt-md-0">
                    <img class="integration-logo" src="~/img/integrations/scrinio-logo.svg" alt="Scrin.io Logo" />
                    <span class="integration-name">Scrin.io</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="home-index-sections-divider"></div>

<section class="row information">
    <div class="col-12">
        <h2 class="title">FAQ</h2>

        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut tristique et egestas quis.
            Velit aliquet sagittis id consectetur purus ut faucibus.
            Tristique risus nec feugiat in fermentum posuere.
            Scelerisque fermentum dui faucibus in ornare quam.
            Morbi tempus iaculis urna id volutpat lacus laoreet non.
            Id diam vel quam elementum.
            Suscipit tellus mauris a diam maecenas.
            Consequat ac felis donec et.
            Duis at tellus at urna condimentum mattis pellentesque id.
            Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum.
            Sodales ut eu sem integer vitae justo eget.
            Nisi porta lorem mollis aliquam ut porttitor leo a diam.
            Convallis convallis tellus id interdum velit.
            Tempus quam pellentesque nec nam.
            Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam.
            Ornare arcu odio ut sem nulla. Varius sit amet mattis vulputate enim nulla aliquet.
            Condimentum mattis pellentesque id nibh tortor id.
            Feugiat in ante metus dictum at.
        </p>
    </div>
</section>
